@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 1487px;
  padding: 20px 200px;
  margin: 0 auto;
}

button {
  color: rgb(255, 255, 255);
  font-family: Muli;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 55px;
  padding: 10px 30px;
  background: rgb(69, 143, 246);
  border: none;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

button:hover {
  color: rgb(69, 143, 246);
  background: #fff;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px 20px;
  }
}

/*! header */
header {
  padding: 20px 0;
  background-color: #f1f1f1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  gap: 40px;
}

.list-item-link {
  color: rgb(31, 21, 52);
  font-family: Muli;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.7s ease-in-out;
  display: inline-block;
}

.menu-btn {
  display: none;
}

.list-item-link:hover {
  transform: scale(1.1);
}

/* ! Main  */

/* ? herro */
.herro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.herro-info {
  width: 50%;
}
.herro-info h1 {
  color: rgb(0, 0, 0);
  font-family: Muli;
  font-size: 43px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
}

.herro-info p {
  color: rgb(125, 121, 135);
  font-family: Muli;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin: 20px 0 38px 0;
}

.herro-image {
  max-width: 693px;
}

.herro-image img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .herro {
    flex-direction: column;
    gap: 50px;
  }

  .herro-info h1 {
    color: rgb(0, 0, 0);
    font-family: Muli;
    font-size: 33px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
  }
  .herro-info p {
    margin: 10px 0 28px 0;
    text-align: center;
  }
  .herro-info {
    width: 100%;
  }

  .herro-btn {
    width: 100%;
    text-align: center;
  }
}

/* ? herro */

/* ? Our services */

.ourservices {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-cards {
  display: grid;
  gap: 34px;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0;
}
.ourservices h2 {
  color: rgb(0, 0, 0);
  font-family: Muli;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
}

.ourservices p {
  color: rgb(125, 121, 135);
  font-family: Muli;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.card {
  border-radius: 20px;
  padding: 60px 39px;
  max-width: 350px;
  text-align: start;
  /* drop shadow */
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  background: rgb(255, 255, 255);
}

.card h3 {
  color: rgb(0, 0, 0);
  font-family: Muli;
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
}

.card p {
  color: rgb(125, 121, 135);
  font-family: Muli;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .ourservices button {
    width: 100%;
    text-align: center;
  }
  .services-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ? Our services */

/* ! Main  */

@media screen and (max-width: 768px) {
  nav {
    position: relative;
  }
  .list {
    display: none;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }

  .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #f1f1f1;

    position: absolute;
    top: 105px;
    width: 100%;
    padding: 20px 0;
    left: 0;
  }

  .menu-btn i {
    font-size: 30px;
  }
}

/*! leading  */

.leading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  gap: 20px;
}

.leading-image {
  width: 45%;
}

.leading-image img {
  width: 100%;
}

.leading-info {
  width: 45%;
}

.leading-info h3 {
  text-align: center;
}
.leading-info p {
  text-align: center;
}

.leading-info button {
  width: 100%;
  text-align: center;
}

.leading-info h3 {
  color: rgb(0, 0, 0);
  font-family: Muli;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: left;
}

.leading-info p {
  color: rgb(125, 121, 135);
  font-family: Muli;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .leading {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .leading-image {
    width: 100%;
  }
  .leading-info {
    width: 100%;
  }
}
/* ! footer */

footer {
  padding: 20px 0;
  background: linear-gradient(
    211.68deg,
    rgb(103, 195, 243) 8.549%,
    rgb(90, 152, 242) 70.494%
  );
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
}

.footer-card:first-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}
.footer-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}

.footer-card a {
  color: rgb(255, 255, 255);
  font-family: Muli;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.footer-card h3 {
  color: rgb(255, 255, 255);
  font-family: Muli;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
}

.footer-card p {
  color: rgb(255, 255, 255);
  font-family: Muli;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.footer-card span {
  color: rgb(255, 255, 255);
  font-family: Muli;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .footer-card:first-child {
    padding: 0;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }

  .footer-card:first-child p {
    text-align: center;
  }

  .footer-card {
    padding: 0;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }
}
